* {
	font-family: sans-serif;
}

body {
	/*background: url('../img/gray.png') repeat;*/
	background-color: #FFFFFF;
	text-align: center;
	margin: 0;
}

#topbar {
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	padding: 10px;
}

.squarebutton {
	display: inline-block;
	padding: 6px 11px 3px 12px;
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #BBBBBB;
	border-bottom-width: 2px;
	vertical-align: middle;
}

#uploadbutton {
	float: left;
}

#githublink {
	float: right;
	text-decoration: none;
	color: black;
	vertical-align: middle;
	display: inline-block;
}

.squarebutton img {
	width: 20px;
	height: 20px;
}

#linkcontainer {
	vertical-align: middle;
	display: inline;
}

#container {
	width: fit-content;
	height: fit-content;
	margin: 80px auto 0 auto;
	overflow: hidden;
	background-color: #eeeeee;
	text-align: center;
	border: 1px solid blue;
}

#droparea,
.droparea_on,
.droparea_off {
	display: block;
	width: 400px;
	height: 400px;
	padding: 10px;
	text-align: center;
}

.droparea_on {
	background-color: #D1E1F9;
}

.droparea_off {
	background-color: #EEEEEE;
}

#responseimg {
	display: none;
	border-radius: 5px;
}

#stopwatch {
	display: inline-block;
	background-color: #DDDDDD;
	color: #BBBBBB;
	font-size: 10pt;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	padding: 6px;
}




#tutorialimg {
	margin: 0 auto 0 auto;
	box-shadow: 0 0 5px 5px #999999;
	border-radius: 5px;
}

#statusarea {
	margin: 20px auto 0 auto;
	display: block;
	width: 100%;
	height: 40px;
}

#statusbar {
	display: block;
	width: 100%;
	background-color: #FEFCE7;
	color: #DDDDDD;
}

#progresscontainer {
	display: block;
	width: 100%;
	padding: 10px;
}

#indicator_drop,
#indicator_prepare,
#indicator_send,
#indicator_receive,
#indicator_display,
#indicator_done {
	background-color: #F9F9F9;
	color: #FFFFFF;
	padding: 3px;
	width: 20%;
	font: 10px monospace;
	display: inline-block;
}

#tablecontainer {
	padding: 8px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}

#logtable {
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}

#logtable td {
	border: 1px solid #EEEEEE;
	font: 10pt monospace;
	padding: 5px;
	text-align: left;
}

#tiles {
	vertical-align: middle;
}


#dropform {
	display: none;
}

#gobutton {
	padding: 10px;
	background-color: #00FF00;
	border-radius: 5px;
	margin: 20px auto 0 auto;
}

#sizebuttonscontainer {
	background-color: #FFFFFF;
	text-align: center;
	padding: 10px;
}

.ntilesbutton {
	display: inline-block;
	padding: 3px;
	border-radius: 2px;
	font-family: sans-serif;
	background-color: #CCCCCC;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	text-decoration: none;
	width: 30px;
}
