* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: url('../img/gray.png') repeat;
	text-align: center;
}


#container {
	width: 400px;
	margin: 20% auto 0 auto;
	text-align: center;
	border-radius: 5px;
}

#tutorialimg {
	margin: 0 auto 0 auto;
	box-shadow: 0 0 5px 5px #999999;
	border-radius: 5px;
}

#statusarea {
	margin: 20px auto 0 auto;
	display: block;
	width: 100%;
	height: 40px;
}

#statusbar {
	display: block;
	width: 100%;
	background-color: #FEFCE7;
	color: #DDDDDD;
}

#droparea {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #F0F0F0;
	background-color: #D3EFFF;
	border: 1px solid #0000FF;
	border-radius: 3px;
	box-shadow: 0 0 0 3px #4EB2E8;
}

#droparea a {
	text-decoration: underline;
	color: #0000FF;
	font-weight: bold;
}

#progresscontainer {
	display: block;
	width: 100%;
	padding: 10px;
}

#indicator_drop,
#indicator_prepare,
#indicator_send,
#indicator_receive,
#indicator_display,
#indicator_done {
	background-color: #F9F9F9;
	color: #FFFFFF;
	padding: 3px;
	width: 20%;
	font: 10px monospace;
	display: inline-block;
}

#tablecontainer {
	padding: 8px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}

#logtable {
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}

#logtable td {
	border: 1px solid #EEEEEE;
	font: 10pt monospace;
	padding: 5px;
	text-align: left;
}

#tiles {
	vertical-align: middle;
}

#droparea img {
}

#dropform {
	display: none;
}

#gobutton {
	padding: 10px;
	background-color: #00FF00;
	border-radius: 5px;
	margin: 20px auto 0 auto;
}

#sizebuttonscontainer {
	background-color: #FFFFFF;
	text-align: center;
	padding: 10px;
}

.ntilesbutton {
	display: inline-block;
	padding: 3px;
	border-radius: 2px;
	font-family: sans-serif;
	background-color: #CCCCCC;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	text-decoration: none;
	width: 30px;
}
